html, body {
    height: 100%; 
    width: 100%; 
 } 
 body {
    display:flex; 
    justify-content:center; 
    align-items: center;
 }
 
 .board-game {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    height: 100%; 
    width: 95%; 
    border-radius: 10px; 
      
 } 
 .card-game {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 3px solid black; 
    width: 22%; 
    height: 15%;
    background-color: grey; 
    font-size: 35px;
    border-radius:10px;  
    
 } 

 .winner-screen {
    display:flex; 
    justify-content: center; 
    align-items: flex-end;
    background-image:url("./images/winner.png"); 
    background-size:cover; 
    background-repeat:no-repeat;  
    height: 100%;
    width: 100%;      
 } 

 .back-menu-option {
    font-size:20px; 
    background-color:#9F9BFF; 
    cursor:pointer; 
 }

 .play-again-option {
    font-size:20px; 
    background-color:#9F9BFF; 
    cursor:pointer; 
 }

 .main-menu {
    display:flex; 
    flex-direction:column; 
    justify-content:flex-end; 
    align-items: center; 
    gap:5px; 
    width: 95%;
    height: 90%;
    background-image: url("./images/mainMenu-background.png");
    background-size:cover; 
    background-repeat:no-repeat; 
    background-position:center; 
 }
 .start-main-option {
    font-size: 20px; 
    background-color: #F4D58D; 
    cursor:pointer; 
    width:85px; 
   
 } 

 .selector-main-option {
    font-size:20px; 
    background-color:#E87A68; 
    cursor:pointer; 
    width:85px; 
    
 } 

 .themes-screen {
   display:flex; 
   flex-direction:column; 
   justify-content: center;
   align-items: center;
   gap:20px; 
   width: 95%;
   height: 90%;
   border:3px solid black; 
   background-image: url("./images/themes-Screen.png"); 
   background-size: cover;
   
 }
 .food-theme-option {
   font-size:25px; 
   cursor:pointer; 
   background-color: #9F9BFF;
   border-radius: 5%;
 } 
 .animals-theme-option {
   font-size: 25px; 
   cursor:pointer; 
   background-color: #E87A68;
   border-radius: 5%;
 }
 .magic-theme-option {
   font-size: 25px;
   cursor:pointer; 
   background-color: #4FC3F7;
   border-radius:5%; 
 }

 .back-menu-theme-screen {
   font-size:17px; 
    background-color:#F4D58D; 
    cursor:pointer; 
    width:110px; 
    margin-bottom: 15px;
   border-radius: 5%; 
 }

 .food-theme-background {
   background-color: #FF7043;
 } 

 .animals-theme-background {
   background-color: #689F38;
 } 

 .magic-theme-background {
   background-color: #7C4DFF;
 }

 .defeat-box {
  display:flex; 
  border:4px solid black; 
  border-radius:6%; 
  position:absolute; 
  background-color: #ff4c4c;;
  flex-direction: column;
  width: 40%;
  height: 40%;
  font-size: 50px; 
  padding-bottom: 15px;
  padding-left: 10px;
 }

 .back-menu-defeat-option {
  cursor:pointer; 
  font-size: 35px;
  border-radius: 5%; 
  background-color: #fff9c4;
  margin-right: 10px;
 }

@media(min-width: 600px) { 
    html, body {
    height: 100%;
    width: 100%; 
}

body { 
    display:flex; 
    justify-content:center; 
    align-items:center; 
}

.board-game {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    width: 75%;
    height: 85%;     
} 

.card-game {
    display: flex; 
    justify-content: center; 
    align-items: center;  
    border: 3px solid black; 
    width: 20%; 
    height: 20%;
    font-size:25px; 
    background-color: grey; 
    font-size: 35px;  
    cursor:pointer;    
} 

.winner-screen {
    display:flex; 
    justify-content: center;
    align-items: flex-end;
    background-image:url("./images/winner.png"); 
    background-size:contain; 
    background-repeat:no-repeat;  
    background-position: center;
    gap:15px; 
    height: 85%;
    width: 100%;      
}
.back-menu-option {
    font-size:20px; 
    background-color: #9F9BFF;
    cursor:pointer; 
}

.play-again-option {
    font-size: 20px; 
    background-color: #9F9BFF;
    cursor:pointer; 
 } 

 .main-menu {
    display:flex; 
    flex-direction:column; 
    justify-content: flex-end; 
    align-items:center; 
    gap:5px; 
    width: 95%;
    height: 90%;
    background-image:url("./images/mainMenu-background.png"); 
    background-size:contain; 
    background-repeat:no-repeat; 
    background-position:center; 
 } 

 .start-main-option {
    font-size:20px; 
    background-color:#F4D58D; 
    cursor:pointer; 
    width:85px;   
 }

 .selector-main-option {
    font-size:20px; 
    background-color:#E87A68; 
    cursor:pointer; 
    width:85px; 
 }

 .themes-screen {
   display: flex;
   gap:25px; 
   flex-direction: column;
   justify-content: flex-end; 
   align-items: center;
   width: 95%;
   height: 90%;
   border:3px solid black; 
   background-image: url("./images/themes-Screen.png"); 
   background-size: cover;
 } 
 .food-theme-option {
   font-size: 25px; 
   cursor: pointer;
   background-color: #9F9BFF;
   border-radius: 5%; 
 } 
 .animals-theme-option {
   font-size:25px; 
   cursor: pointer;
   background-color: #E87A68; 
   border-radius: 5%;
 } 
 .magic-theme-option {
   font-size: 25px; 
   cursor: pointer;
   background-color: #4FC3F7;
   border-radius: 5%;
 }

 .back-menu-theme-screen {
   font-size:17px; 
    background-color:#F4D58D; 
    cursor:pointer; 
    width:110px; 
    margin-bottom: 15px;
   border-radius: 5%;

 }

  .food-theme-background {
   background-color: #FF7043;
 } 

 .animals-theme-background {
   background-color: #689F38;
 } 

 .magic-theme-background {
   background-color: #7C4DFF;
 }

 .defeat-box {
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  position:absolute; 
  width: 30%;
  height: 30%;
  border:4px solid black; 
  border-radius:6%; 
  text-align: center;
  background-color: #ff4c4c;
  font-size: 30px;
  padding-bottom: 15px;
  padding-left:10px; 
 } 

  .back-menu-defeat-option {
    cursor:pointer; 
    font-size: 50px;
    border-radius:5%; 
    background-color: #fff9c4;
  
 }

}