html, body {
    height: 100%; 
    width: 100%; 
 } 
 body {
    display:flex; 
    justify-content:center; 
    align-items: center;
 }
 
 .board-game {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    border: 3px solid black; 
    height: 100%; 
    width: 95%; 
    border-radius: 10px; 
      
 } 
 .card-game {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 3px solid black; 
    width: 22%; 
    height: 15%;
    background-color: grey; 
    font-size: 35px;
    border-radius:10px;  
    
 } 

 .winner-screen {
    display:flex; 
    justify-content: center; 
    align-items: flex-end;
    background-image:url("./images/winner.png"); 
    background-size:cover; 
    background-repeat:no-repeat;  
    height: 100%;
    width: 100%;  
     
 } 

 .back-menu-option {
    font-size:20px; 
    background-color:#9F9BFF; 
    cursor:pointer; 
 }

 .play-again-option {
    font-size:20px; 
    background-color:#9F9BFF; 
    cursor:pointer; 
 }

@media(min-width: 600px) { 
    html, body {
    height: 100%;
    width: 100%; 
}

body { 
    display:flex; 
    justify-content:center; 
    align-items:center; 
}

.board-game {
    display: flex; 
    flex-direction: row; 
    border: 3px solid black; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    width: 75%;
    height: 85%;     
} 

.card-game {
    display: flex; 
    justify-content: center; 
    align-items: center;  
    border: 3px solid black; 
    width: 20%; 
    height: 20%;
    font-size:25px; 
    background-color: grey; 
    font-size: 35px;  
    cursor:pointer;    
} 

.winner-screen {
    display:flex; 
    justify-content: center;
    align-items: flex-end;
    background-image:url("./images/winner.png"); 
    background-size:contain; 
    background-repeat:no-repeat;  
    background-position: center;
    gap:15px; 
    height: 85%;
    width: 100%;      
}
.back-menu-option {
    font-size:20px; 
    background-color: #9F9BFF;
    cursor:pointer; 
}

.play-again-option {
    font-size: 20px; 
    background-color: #9F9BFF;
    cursor:pointer; 
 }

}